@import url('https://fonts.googleapis.com/css2?family=Anta&family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 1rem;
}

header {
  h1 {
    text-align: center;
  }
}

/* box styles */

.box {
  width: 100%;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}

.box .imgContainer {
  width: 100%;

  img {
    width: 100%;
  }
}

.box .textContainer h3 {
  text-align: center;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.box .textContainer .price {
  position: absolute;
  right: 5px;
  bottom: 110px;
  color: #fefefe;
  background-color: rgb(14, 183, 14);
  padding: 0.5rem 1rem;
  border-radius: 40px;
  border: 4px solid #fff;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }

  .box {
    width: 48%;
  }
}

@media (min-width: 1279px) {
  .box {
    width: 30%;
  }
}
